<html>
    <head>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/assets/ajaxCall.js"></script>
    </head>
    
    <body>    
            <form id="forgotPass"> 
                <p>Please enter your email ID</p>
                <input type="email" name="emailForgotPass" required  />
                <button type="submit"> Submit </button>
            </form>
    </body>
</html>